/* For mobile phones: */
body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    }
    #img_banner{
        display: none;
    }
    .content-bn{
        color: rgb(0, 0, 0);
        padding-top: 15px;
    }
    hr{
        width: 80vw;
        margin: auto;;
    }
    img{
        margin-top: 2rem;
        object-fit: fill
    }
    .main{
        padding-top: 0 !important;
    } 


        /* For tablets: */
@media only screen and (min-width: 768px) {
    body {
    background-color: rgb(255, 255, 255);
    }
   
    .content-bn{
        font-size: 1rem;
    }

    #img_banner{
        display: none;
    }    
   
}

    
        /* For desktop: */
@media only screen and (min-width: 987px) {
    body {
    background-color: rgb(239, 239, 239);
    }
    
    #img_banner{
        display: inline;
    }

    .banner {
        position: relative;
    }
   .content-bn {
        position: absolute; z-index: 1; top: 0; left: 0;
        color: white;
        font-family: sans-serif;
        font-size: 1.5rem;
        padding-top: 7em;
        padding-left: 1em;
        
    }
    .main{
        padding-top: 20px  !important;
    }

}